@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-figtree: "Figtree", san serif;
  --color-primary: oklch(0.8646 0.1495 93.37);
  --color-secondary-100: oklch(0.5281 0 0);
  --color-secondary-200: oklch(0.1815 0 0);

  --breakpoint-desktop: 1440px;
  --breakpoint-mobile: 375px;

}

:root {
  font-family: var(--font-figtree);
  line-height: 150%;
}